* {
    box-sizing: border-box;
}

main {
    font-family: sans-serif;
    background-color: #fff;
  }
 
h1 {
    text-align: right;
    margin:  auto;
    letter-spacing: 0.25em;
    color: #093145;
  }

#container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 600px;
  }
/* styling for question box area  */
.question-section {
    width: 100%;
    height: auto;
    border: 1px solid #999;
    border-radius: 5px;
    justify-content: space-around;
    margin: 2em auto; 
    display: flex;
    flex-direction: column;
    /* display: none; */
}
button {
    background-color: purple;
    color: white;
    border-radius: 5px;
}



.hide {
    display: none;
}