* {
  font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

main {
    background-color: white;
    color: black;
    /* margin: 0;
    padding: 0; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: sans-serif;
    background-color: #fff;
    text-align: center;
  }
 
  header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /* width: 30rem; */
  }

.highscore-link {
    text-align: left;
    font-size: larger;
    color: black;
    text-decoration: solid;
  }
  #timer h1 {
    justify-content: space-between;
  }

h1 {
  
    font-size: larger;
    margin:  auto;
    letter-spacing: 0.25em;
    color: #093145;
  }


#container {
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
      max-width: 600px;
  }
/* styling for question box area  */
.question-section {
    width: 100%;
    height: auto;
    border: 1px solid #999;
    border-radius: 5px;
    justify-content: space-around;
    margin: 20px auto 45px auto; 
    
   
    /* display: none; */
}
.options {
  display: flex;
  flex-flow: column;
  max-width: 200px;
  justify-content: center;
  margin: 20px auto;
  
}
button {
    background-color: purple;
    color: white;
    border-radius: 5px;
}
.score-list {
  max-width: 200px;
 margin: 21px auto;
}



.hide {
    display: none;
}